.online {
    background: #fff;

    .search {
        width: 100%;
        display: flex;
        border-top: 0px;

        &_btn {
            display: flex;
            min-width: 300px;

            div {
                text-align: center;
                line-height: 48px;
                cursor: pointer;
            }
            div:hover{
                background: #8d8c8c;
                color: #fff;
            }

            &_tapL {
                width: 100%;
                line-height: 36px;
                text-align: center;
                flex: 1;
            }

            &_trangle {
                width: 0;
                height: 0;
                border-bottom: 30px solid red;
                border-left: 30px solid transparent;
            }

            &_activeTab {
                background: #242424!important;
                color: #fff;
                border-top: 0px;
            }

            &_tapR {
                flex: 1;
            }
        }

       

        &_input {
            flex: 1;
            margin: 0 16px 16px 16px;
            -webkit-box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 10%);
            box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 10%);

            input {
                height: 48px;
                text-align: center;
            }
        }

    }

    .content {
        display: flex;

        &_left {
            overflow-y: auto;
            .p {
                min-width: 240px;
                background: rgb(141, 140, 140);;
                cursor: pointer;
                &_h {
                    height: 48px;
                    line-height: 48px;
                    padding: 0 16px;
                    color:#fff;
                }

                &_active {
                    background: #242424!important;
                    color: #fff;
                }

                &_c {
                    height: 48px;
                    line-height: 48px;
                    padding: 0 16px;
                    color: rgb(141, 140, 140);
                }
            }
        }
          /*滚动条样式*/
          &_left::-webkit-scrollbar {
            width: 8px;
        }

        &_left::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            background: rgba(136, 136, 136, 0.2);
        }

        &_left::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 0;
            background: rgba(0, 0, 0, 0.1);

        }

        &_right {
            flex: 1;
            width: 98%;
            margin: 0 1%;
            overflow: hidden;

            .rowContainer {
                overflow-y: auto;
                height: 100%;
            }

            /*滚动条样式*/
            .rowContainer::-webkit-scrollbar {
                width: 8px;
            }

            .rowContainer::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                background: rgba(136, 136, 136, 0.2);
            }

            .rowContainer::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                border-radius: 0;
                background: rgba(0, 0, 0, 0.1);

            }
          
            .row {
                padding: 0 16px 16px 16px;
                margin-bottom: 40px;
                &_c:hover{
                    cursor: pointer;
                    -webkit-box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 30%);
                    box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 30%);
                }
                &_c {
                    width: 100%;
                    overflow: hidden;
                    margin-bottom: 15px;
                    border: 1px solid #eee;
                    -webkit-box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 10%);
                    box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 10%);

                    &_h {
                        padding: 0 16px;
                    }

                    &_wrap {
                        display: flex;
                    }
                  
                    &_way {

                        color: #000;
                        border-radius: 4px;
                        line-height: 2;
                        padding: 0px 16px 16px 16px;
                        display: flex;
                        flex: 1;

                        &_name {
                            background: #eee;
                            width: 100%;
                            padding: 0 8px;
                            margin-left: 8px;
                            border-radius: 4px;
                        }
                    }

                    .copy {
                        &_tip {
                            background: #1890ff;
                            color: #fff;
                            border-radius: 4px;
                            height: 32px;
                            line-height: 32px;
                            min-width: 72px;
                            text-align: center;

                            &_active {
                                color: #fff;
                                background: red;
                            }
                        }
                    }

                    input {
                        line-height: 2;
                        width: 100%;
                    }
                }

                :global {
                    .ant-input-affix-wrapper {
                        margin: 0 16px 16px 16px !important;
                        width: calc(100% - 56px) !important;
                    }
                }
            }
        }
    }
}